{% extends 'base-back.html.twig' %}

{% block title %}Produits à Acheter{% endblock %}

{% block body %}
<div class="col-md-1">
    <div id="div_chartA"></div>
    <div id="div_chartL"></div>
    <div id="div_colA"></div>
    <div id="div_colL"></div>
</div>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        {{ gc_draw([produitAcheterChart,produitLouerChart,qteA,qteL], ['div_chartA','div_chartL','div_colA','div_colL']) }}
    </script>


{% endblock %}