{% extends 'base-back.html.twig' %}

{% block title %}MODIFIER LES INFORMATIONS D UNE COMMANDE{% endblock %}

{% block body %}
    <h1 align="center">MODIFIER LES INFORMATIONS D UNE COMMANDE</h1>
    <div class="container" style="max-width: 600px">
        {% form_theme form 'bootstrap_4_layout.html.twig' %}
        <div>
            {{ include('commande/_form.html.twig', {'button_label': 'Modifier les informations'}) }}
        </div>


        <div>
            {{ include('commande/_delete_form.html.twig') }}
        </div>
        <div>
            <a href="{{ path('commande_index') }}" class="btn ">back to list
                <i class="bi bi-cart-x"></i>
            </a>
        </div>
    </div>
{% endblock %}
