{% extends 'base-front.html.twig' %}

{% block title %}VALIDATION DE VOTRE COMMANDE{% endblock %}

{% block body %}

    <h4 align="center">ENTRER LES INFORMATIONS NECESSAIRES POUR VALIDER LA COMMANDE</h4>
<div class="container" style="max-width: 600px">

    {{ include('commande/_form.html.twig') }}
    </div>



{% endblock %}
