{% extends 'base-back.html.twig' %}

{% block title %}Admin dashboard{% endblock %}

{% block body %}


    <div class="main-panel">
        <div align="center">
            <img class="img-fluid mb-5" src="{{ asset('back/assets/images/graphs.svg') }}" alt="Image Description" style="max-width: 21rem;">
            <h1>Hello, nice to see you!</h1>
            <p>You are now minutes away from creativity than ever before. Enjoy!</p>
            <!-- main-panel ends -->
        </div>
    </div>
{% endblock %}
