{% extends 'base-front.html.twig' %}

{% block title %}Reparation {% endblock %}

{% block body %}

    <div class="container">
        {% form_theme form 'bootstrap_4_layout.html.twig' %}

        {{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}
        <h1 align="center">Demande de reparation</h1>

        {{ form_end(form) }}
    </div>
{% endblock %}
