{% extends 'base-back.html.twig' %}

{% block title %}New Facture{% endblock %}

{% block body %}
    <h1>Create new Facture</h1>

    {{ include('facture/_form.html.twig') }}

    <a href="{{ path('facture_index') }}" class="btn ">back to liste
        <i class="bi bi-cart-x"></i>
    </a>
{% endblock %}
